
.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    height: 30vh;
    
    background-image: url("../img/banner-1440x300-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    display: flex;
    justify-content: center;
    height: 60vh;
    width: 100%;
    color: #fff;
}

.banner-1{
    flex-grow: 1;
    background-color: #4b0606;
}
.conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 5;
    background-color: #552329;
    
}
.conteudo img{
    padding: 12px;
}
.banner-2{
    flex-grow: 1;
    background-color: #14033b;
}

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #32589f;
    color: #fff;
    height: 20vh;
}
