.cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fefefe;
    height: 20vh;
}

.container{
    display: flex;
    justify-content: center;
    height: 60vh;
    width: 100%;
    color: #fefefe;
}

.banner-1{
    flex-grow: 1;
    background-color: rgb(85, 14, 14);
}

.conteudo{
    flex-grow: 5;
    background-color: rgb(85, 90, 14);
}

.banner-2{
    flex-grow: 1;
    background-color: rgb(14, 85, 75);
}

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fefefe;
    height: 20vh;
}
